/* Forgot Password Section */
.forgot-password-section {
    padding: 50px 0;
    background-color: var(--gray-100);
}

.forgot-password-card {
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    background-color: var(--bg-gray-dark);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.forgot-password-card h2 {
    font-size: 2rem;
    color: var(--primary-green);
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}

.forgot-password-card p {
    font-size: 1rem;
    color: var(--text-dark);
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: var(--primary-headers);
    font-weight: 700;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray-200);
    border-radius: 5px;
    font-size: 1rem;
}

.btn-primary {
    width: 100%;
    background-color: var(--primary-green);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.back-to-login {
    margin-top: 20px;
    text-align: center;
}

.back-to-login p {
    font-size: 0.9rem;
    color: var(--gray-700);
}

.back-to-login a {
    color: var(--primary-green);
    font-weight: 700;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}